body {
    font-family: "Roboto";
    margin: 0px;
}
#head {
    margin-bottom: 10px;
}

#tracklist {
    margin: 10px;
}
#pure_text {
    display: none;
}
#drop_modal {
    background-color: #E91E63;
}