body {
    font-family: "Roboto";
    margin: 0px;
    height: 100%; 
}
html { height: 100%; overflow:auto; }
#head {
    margin-bottom: 10px;
}

#tracklist {
    margin: 10px;
    margin-bottom: 50px;
}
#pure_text {
    display: none;
}
#drop_modal {
    background-color: #E91E63;
}

.input {
    font-family: monospace;
}

#edit_submit {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

#edit_input {
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

#yesno_modal .modal-card{
    width: 300px;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(38, 38, 38);
    font-weight: bold;
    color: white;
    padding: 2px;
    width: 100%;

    height: 50px;
    line-height: 50px;
}

#bpl_footer_content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#add_bl_btn {
    color: #94d500;
    border: none;
    vertical-align: middle;
}
#add_bl_btn:hover {
    color: white;
}