body {
    font-family: "Roboto";
    margin: 0px;
    height: 100%; 
}
html { height: 100%; overflow:auto; }
#head {
    margin-bottom: 10px;
}

#tracklist {
    margin: 10px;
}
#pure_text {
    display: none;
}
#drop_modal {
    background-color: #E91E63;
}

.input {
    font-family: monospace;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: #94d500;
    font-weight: bold;
    color: black;
    padding: 10px;
    width: 100%;
}